{% extends "base.html" %}

{% block title %}{{ product.name }} | MyShop{% endblock %}

{% block content %}

<div class="row">

    <!-- Product Images -->
    <div class="col-md-5">

        <!-- Main Image -->
        {% if product.images.first %}
            <img id="mainImage"
                 src="{{ product.images.first.image.url }}"
                 class="img-fluid border rounded mb-3"
                 style="width:100%; max-height:400px; object-fit:contain;">
        {% endif %}

        <!-- Thumbnails -->
        <div class="d-flex gap-2">
            {% for img in product.images.all %}
                <img src="{{ img.image.url }}"
                     class="border rounded"
                     style="width:70px; height:70px; object-fit:cover; cursor:pointer;"
                     onclick="changeImage('{{ img.image.url }}')">
            {% endfor %}
        </div>
    </div>

    <!-- Product Info -->
    <div class="col-md-7">

        <h3 class="fw-bold">{{ product.name }}</h3>

        <!-- Price -->
        <div class="my-3">
            {% if product.discount_price %}
                <span class="fs-4 fw-bold text-success">
                    ₹{{ product.discount_price }}
                </span>
                <del class="text-muted ms-2">
                    ₹{{ product.price }}
                </del>
            {% else %}
                <span class="fs-4 fw-bold">
                    ₹{{ product.price }}
                </span>
            {% endif %}
        </div>

        <!-- Stock -->
        {% if product.stock > 0 %}
            <span class="badge bg-success mb-3">In Stock</span>
        {% else %}
            <span class="badge bg-danger mb-3">Out of Stock</span>
        {% endif %}

        <!-- Description -->
        <p class="mt-3">{{ product.description }}</p>

        <!-- Add to Cart -->
        {% if product.stock > 0 %}
            <a href="{% url 'cart:add_to_cart' product.id %}"
               class="btn btn-primary btn-lg mt-3">
                Add to Cart
            </a>
                <a  href="{% url 'cart:buy_now' product.id %}" class="btn btn-warning btn-lg mt-3">Buy Now</a>

        {% endif %}

<!--        &lt;!&ndash; buy now &ndash;&gt;-->
<!--                {% if product.stock > 0 %}-->


<!--        <form method="POST" action="{% url 'cart:buy_now' product.id %}">-->
<!--    {% csrf_token %}-->
<!--    <input type="hidden" name="quantity" value="1">-->
<!--    <button type="submit" class="btn btn-warning btn-lg mt-3">Buy Now</button>-->
<!--</form>-->
<!--        {% endif %}-->



    </div>

</div>

<!-- Image Switch Script -->
<script>
    function changeImage(url) {
        document.getElementById("mainImage").src = url;
    }
</script>

{% endblock %}
